html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, select, legend, input, button, textarea, p, blockquote, th, td, tbody {
    list-style: none;
    margin: 0px;
    padding: 0px;
    outline: none;
}

body {
    padding: 0px;
    background-color: #fff;
    color: #464e4c;
    font-size: 100%;
    margin: 0;
}

.fontCh {
    font-family: 'Microsoft YaHei';
}

.fontEn {
    font-family: 'Microsoft PhagsPa';
}

.error {
    color: red;
}

/*模版二*/
.bbody {
    background: rgb(243,243,243);
    /*background:url(guess-m.png) no-repeat;*/
    padding: 0 5%;
}

    .bbody a {
        color: #1e9596;
        text-decoration: none;
    }

    .bbody .header {
        font-size: 2em;
        text-align: left;
        color: #3ab5da;
        line-height: 2em;
        width: 100%;
        border-bottom: 1px solid #ccc;
    }

    .bbody input[type=text] {
        font-size: 1em;
        border: none;
        text-indent: 4px;
        width: 75%;
        height: 30px;
        color: #464e4c;
        font-family: 'Microsoft YaHei';
        border-bottom: #d1d1d1 solid 1px;
        background-color: rgb(243,243,243);
    }

    .bbody select {
        display: inline-block;
        width: 60px;
        height: 30px;
    }

    .bbody input[type=radio] {
        display: inline-block;
    }

    .bbody .main li label {
        display: inline;
        margin-right: 20px;
    }

    .bbody .main li span {
        display: inline-block;
        text-align: left;
        width: 25%;
        line-height: 4em;
    }
    .bbody .footer {
        padding: 20px 0;
    }

        .bbody .footer .btnsubmit {
            background-color: #34b7de;
            width: 100%;
            border: none;
            height: 2em;
            color: #fff;
            font-size: 1.5em;
            cursor: pointer;
        }
        
                .bbody .footer .btnsubmitt {
            background-color: #34b7de;
            width: 40%;
            border: none;
            height: 2em;
            color: #fff;
            font-size: 1.5em;
            cursor: pointer;
        }