<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>摇一摇抽奖</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href="media/css/shake.css" rel="stylesheet" type="text/css"/>
    <script src="media/js/jquery-1.9.1.min.js" type="text/javascript"></script>
</head>
<body>

<div id="hand" class="hand hand-animate"></div>
<div id="loading" class="loading"></div>
<div id="result" class="result">
    <div class="pic"></div>
    <div class="con" id="resultmsg"></div>
</div>
<script src="media/js/common.js"></script>
<script src="media/js/shake.js">
</script>

</body>
</html>